<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: header">
    <title th:text="${title}"></title>
</head>
<title>Dashboard</title>
<body>
    <div th:include="admin/layout :: menu"></div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Dashboard </a></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5>SDGs Map</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <select  class="span3" id="tahun_map">
                               </select>
                            <select  class="span9" id="filter_sdg">
                            </select>
                            
                        </div>
                        <div class="row-fluid">
                            <span>< </span>
                            <input id="legend1" value="20"   type="text" style="width:30px; margin-top: 10px">
                            <span style="margin-right: 10px;"> , </span>
                            <!-- <span>from - to</span> -->
                            <input id="legend2" value="20"  type="text" style="width:30px; margin-top: 10px">
                            <span> =< </span>
                            <span style="margin-left: 10px"> < </span>
                            <input id="legend3" value="40" type="text" style="width:30px; margin-top: 10px">
                            <!-- <span>from - to</span> -->
                           <span style="margin-right: 10px;"> , </span>
                            <input id="legend4" value="40" type="text" style="width:30px; margin-top: 10px">
                            <span> =< </span>
                            <span style="margin-left: 10px"> < </span>
                            <input id="legend5" value="60" type="text" style="width:30px; margin-top: 10px">
                            <!-- <span>from - to</span> -->
                            <span style="margin-right: 10px;"> , </span>
                            <input id="legend6" value="60" type="text" style="width:30px; margin-top: 10px">
                            <span> =< </span>
                            <span style="margin-left: 10px"> < </span>
                            <input id="legend7" value="80" type="text" style="width:30px; margin-top: 10px">
                            <span style="margin-right: 10px;"> , </span>                     
                            <input id="legend8" value="80" type="text" style="width:30px; margin-top: 10px">
                            <span style="margin-left: 10px"> =< </span>
                            <!-- <select id="calculation" style=" margin-top: 10px">
                            	<option selected="true" value="0">Last Period</option>
                            	<option value="1">Summary</option>
                            </select> -->
                            <!-- <input type="checkbox" id="calculation"  />
                             <span>Calculation</span> -->
                             <button class="btn btn-primary" type="button" id="show_map">
                                 <i class="icon-search"></i>
                             </button>
                        </div>
                        <div class="row-fluid">                               
                            <div class="span12">                               
                                <div id="container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
            	<div class="span12">
            		<div class="widget-box">
	            		<div class="widget-title">
	                        <span class="icon"><i class="icon-tasks"></i></span>
	                        <h5>Analisis Data Sebaran Form 2a</h5>
	                    </div>
	                    <div class="widget-content">
	                    	<div class="row-fluid">
	                    		<select class="span3 select2" id="periodeNas">
		                    		<option></option>
		                    		<option th:each="per: ${periodeNas}" th:value="${per.id_monper}" th:text="${per.start_year+' - '+per.end_year}"></option>
	                            </select>
	                            <select class="span9 select2" id="goals">
		                    		<option></option>
		                    		<option th:each="data: ${goals}" th:value="${data.id}" th:text="${lang!=0?data.id_goals+'. '+data.nm_goals:data.id_goals+'. '+data.nm_goals_eng}"></option>
	                            </select>
	                    	</div>
	                    	<br/>
	                    	<div class="row-fluid">
	                    		<div class="span6">
	                    			<div id="bar-2a"></div>
	                    		</div>
	                    		<div class="span6">
	                    			<div id="pie-2a"></div>
	                    		</div>
	                    	</div>
	                    	<br/>
	                    	<div class="row-fluid">
	                    		<div class="span6">
	                    			<div id="pie1-2a"></div>
	                    		</div>
	                    	</div>
	                    </div>
	            	</div>
            	</div>
            </div>
            <div class="row-fluid">
            	<div class="span12">
            		<div class="widget-box">
	            		<div class="widget-title">
	                        <span class="icon"><i class="icon-tasks"></i></span>
	                        <h5>Analisis Data Kinerja Rincian Output Form 2a</h5>
	                    </div>
	                    <div class="widget-content">
	                    	<div class="row-fluid">
	                    		<select class="span3 select2" id="periodeNas1">
		                    		<option></option>
		                    		<option th:each="per: ${periodeNas}" th:value="${per.id_monper}" th:text="${per.start_year+' - '+per.end_year}"></option>
	                            </select>
	                            <select class="span9 select2" id="indicator">
		                    		<option></option>
		                    		<option th:each="data: ${indikator}" th:value="${data[0]}" th:text="${data[1]+' '+data[2]}"></option>
	                            </select>
	                    	</div>
	                    	<br/>
	                    	<div class="row-fluid">
	                    		<div class="span12">
	                    			<div id="pie-capaian"></div>
	                    		</div>
	                    		<br/>
	                    		<div class="span12">
	                    			<div id="stacked-capaian"></div>
	                    		</div>
	                    	</div>
	                    </div>
	            	</div>
            	</div>
            </div>
            <!-- <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-tasks"></i></span>
                        <h5>Data Graph</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span8">
                                <div id="barcontainer"></div>
                            </div>
                            <div class="span4">
                                <div id="piecontainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-tasks"></i></span>
                        <h5>Site Analytics</h5>
                        <div class="buttons"><a href="#" class="btn btn-mini btn-success"><i class="icon-refresh"></i> Update stats</a></div>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span8">
                                <div class="chart"></div>
                            </div>
                            <div class="span4">
                                <ul class="stat-boxes2">
                                    <li>
                                        <div class="left peity_bar_neutral"><span><span style="display: none;">2,4,9,7,12,10,12</span>
                        <canvas width="50" height="24"></canvas>
                        </span>+10%</div>
                                        <div class="right"> <strong>15598</strong> Visits </div>
                                    </li>
                                    <li>
                                        <div class="left peity_line_neutral"><span><span style="display: none;">10,15,8,14,13,10,10,15</span>
                        <canvas width="50" height="24"></canvas>
                        </span>10%</div>
                                        <div class="right"> <strong>150</strong> New Users </div>
                                    </li>
                                    <li>
                                        <div class="left peity_bar_bad"><span><span style="display: none;">3,5,6,16,8,10,6</span>
                        <canvas width="50" height="24"></canvas>
                        </span>-40%</div>
                                        <div class="right"> <strong>4560</strong> Orders</div>
                                    </li>
                                    <li>
                                        <div class="left peity_line_good"><span><span style="display: none;">12,6,9,13,14,10,17</span>
                        <canvas width="50" height="24"></canvas>
                        </span>+60%</div>
                                        <div class="right"> <strong>936</strong> Register </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div th:include="admin/layout :: footer"></div>

    <script th:inline="javascript">
        function goPage (newURL) {
            if (newURL != "") {
                if (newURL == "-" ) {
                    resetMenu();
                } else {
                    document.location.href = newURL;
                }
            }
        }
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
        var map         = [[${map}]];
        var tahunmap    = [[${tahunmap}]];
        var filtersdg   = [[${filtersdg}]];
        var start_year  = parseInt(tahunmap.tahunmap[0][0]);
        var end_year    = parseInt(tahunmap.tahunmap[0][1]);
//        console.log(start_year);
//        console.log(end_year);
       
//        console.log(map);
        var data_map =[];
        $.each(map.content,function(i,x){
            //var total = (x[2]/x[1])*100;
            var total = x[2];
            var persen;
            if(x[12]!=''){
                persen = x[12];
            }
            if(x[13]!=''){
                persen = x[13];
            }
            if(x[14]!=''){
                persen = x[14];
            }
            if(x[15]!=''){
                persen = x[15];
            }
            data_map.push({'hc-key':x[4],'name':x[5],'target':x[1],'realisasi':x[2],'value':total,'gov':x[13],'non_gov':x[14],'persen':persen})
//            console.log(x[1]);
        });
        
        
//        var lengthtahun = tahunmap.tahunmap.length;
//         $.each(tahunmap.tahunmap,function(i,x){
//             var obj = {'id':x.tahun,'text':x.tahun,'level':'1'}
//             if(i+1==lengthtahun){
//                 var obj = {'id':x.tahun,'text':x.tahun,'level':'1','selected':true}
//             }
//             data_tahun.push(obj)
//        });
        var data_tahun = []
        for(start_year;start_year<=end_year;start_year++){
             var obj = {'id':start_year,'text':start_year,'level':'1'}
            data_tahun.push(obj)
       }
        var data_filter = [{'id':'0','text':'ALL','level':'1'}]
         $.each(filtersdg.data,function(i,x){
             var obj = {'id':x[0],'text':x[4]+' '+x[1],'level':x[3]}
             if(x[3]==1||x[3]==2){
                 obj = {'id':x[0],'text':x[4]+' '+x[1],'level':x[3],disabled:true}
             }
            data_filter.push(obj)
        });
        
        function formatResult(node) {
            var $result = $('<span style="padding-left:' + (20 * node.level) + 'px;">' + node.text + '</span>');
            return $result;
          };
		$('#periodeNas,#periodeNas1').select2({
			placeholder: 'Select Periode',
		});
		$('#goals').select2({
			placeholder: 'Select Goals',
		});
		$('#indicator').select2({
			placeholder: 'Select RO',
		});
        $("#filter_sdg").select2({
          placeholder: 'Select an option',
          width: "70%",
          data: data_filter,
          formatSelection: function(item) {
            return item.text
          },
          formatResult: function(item) {
            return item.text
          },
          templateResult: formatResult,
        });
        
        $("#tahun_map").select2({
          placeholder: 'Select an option',
          width: "20%",
          data: data_tahun,
          formatSelection: function(item) {
            return item.text
          },
          formatResult: function(item) {
            return item.text
          },
          templateResult: formatResult,
        }).on('change', function(){
        	var tahun = $(this).val();
        	 $.ajax({
                 type: "GET",
                 url: urls+'dashboard/get-sdg-map/'+tahun,
                 success: function (result) {
                	 var data;
                	 if($("#fs").is(':checked')){
                		 data = result.content;
     	        	}else{
     	        		data = result.contentEng;
     	        	}
                	 var data_filter = [{'id':'0','text':'ALL','level':'1'}]
                     $.each(data,function(i,x){
                         var obj = {'id':x[0],'text':x[4]+' '+x[1],'level':x[3]}
                         if(x[3]==1||x[3]==2){
                             obj = {'id':x[0],'text':x[4]+' '+x[1],'level':x[3],disabled:true}
                         }
                        data_filter.push(obj)
                    });
                	 $("#filter_sdg").html("");
                	 $("#filter_sdg").select2({
                         placeholder: 'Select an option',
                         width: "70%",
                         data: data_filter,
                         formatSelection: function(item) {
                           return item.text
                         },
                         formatResult: function(item) {
                           return item.text
                         },
                         templateResult: formatResult,
                       });
                 }
        	 });
        });
        
        $('#fs').on('change', function(e){
        	$("#tahun_map").trigger('change');
        });
        
        $('#show_map').on("click",function(){
           var tahun        = $('#tahun_map').val();
           var indicator    = $('#filter_sdg').val();
           var legend1      = $('#legend1').val();
           var legend2      = $('#legend2').val();
           var legend3      = $('#legend3').val();
           var legend4      = $('#legend4').val();
           var legend5      = $('#legend5').val();
           var legend6      = $('#legend6').val();
           var legend7      = $('#legend7').val();
           var legend8      = $('#legend8').val();
           //var calculation  = $('#calculation').val();
           /* if($('#calculation').is(":checked")){
               calculation = 1
           } */
           //console.log(calculation);
           var data = JSON.stringify({
                            'tahun':tahun,
                            'indicator':indicator
                        });
            $.ajax({
                     type: "GET",
                     url: urls+'dashboard/get-map/'+tahun+'/'+indicator,
                     success: function (result) {
                        var data_map =[];
                        var goal;
                        var target;
                        var indicator;
                        var subtitle ;
                        var target;
                        $.each(result.content,function(i,x){
                            var notcalculation ;
                            var persen;
                            var target = x[1];
                            //if(calculation==1){
                                console.log("ini calculasi")
                                //var total = (x[2]/x[1])*100;
                                var total = x[2];
                                data_map.push({'hc-key':x[4],'name':x[5],'target':x[1],'realisasi':x[2],'value':total,'gov':x[13],'non_gov':x[14],'persen':x[16]})
                                if($("#fs").is(':checked')){
                                	goal        = x[7];
                                    target      = x[8];
                                    indicator   = x[9];
                	        	}else{
                	        		goal        = x[10];
                                    target      = x[11];
                                    indicator   = x[12];
                	        	}
                            /* }else{
                                if(x[12]!=''){
                                    notcalculation = x[12];
                                    persen = x[17];
                                }
                                if(x[13]!=''){
                                    notcalculation = x[13];
                                    persen = x[18];
                                }
                                if(x[14]!=''){
                                    notcalculation = x[14];
                                    persen = x[19];
                                }
                                if(x[15]!=''){
                                    notcalculation = x[15];
                                    persen = x[20];
                                }
                                
                                //var total = (notcalculation/x[1])*100;
                                var total = notcalculation;
                                data_map.push({'hc-key':x[4],'name':x[5],'target':x[1],'realisasi':notcalculation,'value':total,'gov':x[10],'non_gov':x[11],'persen':persen})
                                if($("#fs").is(':checked')){
                                	goal        = x[7];
                                    target      = x[8];
                                    indicator   = x[9];
                	        	}else{
                	        		goal        = x[10];
                                    target      = x[11];
                                    indicator   = x[12];
                	        	}
                                
                            } */
                            
        //            console.log(x[1]);
                        });
                        if(typeof(goal)!=='undefined'){
                          subtitle = 'Source map: <a href="http://code.highcharts.com/mapdata/countries/id/id-all.js">Indonesia</a><br>'+"Goals : "+goal+"<br>Target : "+target+"<br>Indicator : "+indicator;  
                        }
                        
                        var showmap;
                        var optionsMap = {  //Highcharts.mapChart('container', {
                           chart: {
                               map: 'countries/id/id-all',
                               renderTo: 'container'
                           },
                           title: {
                               text: 'Indonesian SDGs'
                           },
                           subtitle: {
                               text: subtitle
                           },
                           mapNavigation: {
                               enabled: true,
                               buttonOptions: {
                                   verticalAlign: 'bottom'
                               }
                           },
                            colors: ['rgba(245,0,0,1)','rgba(245,208,0,1)', 'rgba(24,0,245,1)','rgba(20,245,0,1)'],
                            colorAxis: {
                               dataClasses: [{
//                                   from: 0,
									name: '< '+legend1,
                                   to: legend1,
                                   color: 'rgba(245,0,0,1)',
                                   
                                   }, {
                                       from: legend2,
                                       name: legend2+' =<  < '+legend3,
                                       to: legend3,
                                       color:'rgba(233, 255, 36, 1)',
                                       
                                   }, {
                                       from: legend4,
                                       to: legend5,
                                       name: legend4+' =<  < '+legend5,
                                       color: 'rgba(63,182,191,1)'
                                   }, {
                                       from: legend6,
                                       to: legend7,
                                       name: legend6+' =<  < '+legend7,
                                       color: 'rgba(24,0,245,1)'
                                   },{
                                       from: legend8,
//                                       to: 100,
										name: legend8+' =<',
                                       color: 'rgba(20,245,0,1)'
                                   }]
                           },
                           credits: {
                               enabled: false
                           },
                           tooltip: {
                               backgroundColor: 'none',
                               borderWidth: 0,
                               shadow: false,
                               useHTML: true,
                               padding: 0,
               //                pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
               //                    '</span></span> {point.name}<br>' +
               //                    '<span style="font-size:30px">{point.value}/km²</span>',
                               pointFormat:'<div style="background-color:blue;color:white;padding:1px"><table border="1">'+
                                               '<tr><th colspan="2">{point.name}</th></tr>'+
                                               '<tr><td>Target</td><td>{point.target}</td></tr>'+
                                               '<tr><td>Realisasi</td><td>{point.realisasi}</td></tr>'+
                                               '<tr><td>Program Pemerintah</td><td>{point.gov}</td></tr>'+
                                               '<tr><td>Program Non Pemerintah</td><td>{point.non_gov}</td></tr></table></div>',
               //                positioner: function () {
               //                    return { x: 0, y: 250 };
               //                }
                           },
                           series: [{
                               data: data_map,
                               name: 'List Entry',
                               states: {
                                   hover: {
                                       color: '#BADA55'
                                   }
                               },
                               dataLabels: {
                                   enabled: true,
                                   format: '{point.name}'
                               }
                           }]
                       }
                       eval(function(p,a,c,k,e,r){e=String;if(!''.replace(/^/,String)){while(c--)r[c]=k[c]||c;k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('0=1 2.3(4);',5,5,'showmap|new|Highcharts|mapChart|optionsMap'.split('|'),0,{}))


                     },
                 });
        });
        
        
//        console.log(data_map);
        //************************ Highchart Map ************************
//        Highcharts.setOptions({
//            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
//                return {
//                    radialGradient: {
//                        cx: 0.5,
//                        cy: 0.3,
//                        r: 0.7
//                    },
//                    stops: [
//                        [0, color],
//                        [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
//                    ]
//                };
//            })
//        });
        
         var data = [
             {
                'hc-key' :'id-ac',
                value: 6,
                name: "Point2",
                color: "#00FF00"
            },
            {
                'hc-key' :'id-jt',
                value: 3,
                name: "Point2",
                color: "#00FF00"
            }
         ];
         var showmap;
         var optionsMap = {  //Highcharts.mapChart('container', {
            chart: {
                map: 'countries/id/id-all',
                renderTo: 'container'
            },
            title: {
                text: 'Indonesian SDGs'
            },
            subtitle: {
                text: 'Source map: <a href="http://code.highcharts.com/mapdata/countries/id/id-all.js">Indonesia</a>'
            },
            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
             colors: ['rgba(245,0,0,1)','rgba(245,208,0,1)', 'rgba(24,0,245,1)','rgba(20,245,0,1)'],
             colorAxis: {
                dataClasses: [{
//                                   from: 0,
                                   to: 20,
                                   name: '< 20',
                                   color: 'rgba(245,0,0,1)',
                                   }, {
                                       from: 20,
                                       to: 40,
                                       name: '20 =<  < 40',
                                       color:'rgba(233, 255, 36, 1)'
                                   }, {
                                       from: 40,
                                       to: 60,
                                       name: '40 =<  < 60',
                                       color: 'rgba(63,182,191,1)'
                                   }, {
                                       from: 60,
                                       to: 80,
                                       name: '60 =<  < 80',
                                       color: 'rgba(24,0,245,1)'
                                   },{
                                       from: 80,
//                                       to: 100,
										name: '80 =<',
                                       color: 'rgba(20,245,0,1)'
                                   }]
            },
            credits: {
                enabled: false
            },
            tooltip: {
                backgroundColor: 'none',
                borderWidth: 0,
                shadow: false,
                useHTML: true,
                padding: 0,
//                pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
//                    '</span></span> {point.name}<br>' +
//                    '<span style="font-size:30px">{point.value}/km²</span>',
                pointFormat:'<div style="background-color:blue;color:white;padding:1px"><table border="1">'+
                                               '<tr><th colspan="2">{point.name}</th></tr>'+
                                               '<tr><td>Target</td><td>{point.target}</td></tr>'+
                                               '<tr><td>Realisasi</td><td>{point.realisasi}</td></tr>'+
                                               '<tr><td>Program Pemerintah</td><td>{point.gov}</td></tr>'+
                                               '<tr><td>Program Non Pemerintah</td><td>{point.non_gov}</td></tr></table></div>',
//                positioner: function () {
//                    return { x: 0, y: 250 };
//                }
            },
            series: [{
                data: data_map,
                name: 'List Entry',
                states: {
                    hover: {
                        color: '#BADA55'
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }]
        }
        eval(function(p,a,c,k,e,r){e=String;if(!''.replace(/^/,String)){while(c--)r[c]=k[c]||c;k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('0=1 2.3(4);',5,5,'showmap|new|Highcharts|mapChart|optionsMap'.split('|'),0,{}))
        
        

        //******************** Barchart ********************
        function barChart(){
            var id_monper = $("#periodeNas").val();
            var goals = $("#goals").val();
            if(id_monper && goals){
            	$.ajax({
                    type: "GET",
                    url: urls+'dashboard/get-bar-2a/'+id_monper+'/'+goals,
                    success: function (result) {
                        var hasil = result.program;
                        var arrNama = [];
                        var arrVal = [];
                        for(var i = 0, len = hasil.length; i < len; i++){
                        	arrNama.push(hasil[i][0]);
                        	arrVal.push(hasil[i][1]);
                        }

                        Highcharts.chart('bar-2a', {
                            chart:{
                                type: 'column'
                            },
                            title: {
                                text: 'Sebaran Program'
                            },
                            xAxis: {
                                categories: arrNama,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Program'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'Program',
                                data: arrVal

                            },]
                        });

                        var hasilKeg = result.kegiatan;
                        var datapie = [];
                        for(var i = 0, len = hasilKeg.length; i < len; i++){
                        	datapie.push({
                        		'name':hasilKeg[i][0],
                        		'y':hasilKeg[i][1]
                            });
                        }

                        Highcharts.chart('pie-2a', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Sebaran Kegiatan'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}% <br>value: {point.y}</b>'
                            },
                            accessibility: {
                                point: {
                                    valueSuffix: '%'
                                }
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.percentage:.1f} %<br>value: {point.y}'
                                    }
                                }
                            },
                            series: [{
                                name: 'Activity',
                                colorByPoint: true,
                                data: datapie
                            }]
                        });

                        var hasilRo = result.ro;
                        var datapie1 = [];
                        for(var i = 0, len = hasilRo.length; i < len; i++){
                        	datapie1.push({
                        		'name':hasilRo[i][0],
                        		'y':hasilRo[i][1]
                            });
                        }
                        Highcharts.chart('pie1-2a', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Sebaran Rincian Output'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}% <br>value: {point.y}</b>'
                            },
                            accessibility: {
                                point: {
                                    valueSuffix: '%'
                                }
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.percentage:.1f} %<br>value: {point.y}'
                                    }
                                }
                            },
                            series: [{
                                name: 'Rincian Output',
                                colorByPoint: true,
                                data: datapie1
                            }]
                        });
                    }
           		});
            	
            }
        }
        
        $("#periodeNas,#goals").on('change', function(){
        	barChart();
        });

        $("#periodeNas1,#indicator").on('change', function(){
        	capaianChart();
        });

        function capaianChart(){
        	var id_monper = $("#periodeNas1").val();
            var indicator = $("#indicator").val();

            if(id_monper && indicator){
            	$.ajax({
                    type: "GET",
                    url: urls+'dashboard/get-capian-ro/'+id_monper+'/'+indicator,
                    success: function (result) {
                        var hasil = result.ro;
                        var datapie = [
                            {
	                        	'name':'Realisasi Fisik RO < 75%',
	                    		'y':hasil[0][0]
                            },
                            {
	                        	'name':'Realisasi Fisik RO 75-95%',
	                    		'y':hasil[0][1]
                            },
                            {
	                        	'name':'Realisasi Fisik RO > 95%',
	                    		'y':hasil[0][2]
                            },
                            ];

                        Highcharts.chart('pie-capaian', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Jumlah RO Menurut Capaian Kinerja Fisik'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}% <br>value: {point.y}</b>'
                            },
                            accessibility: {
                                point: {
                                    valueSuffix: '%'
                                }
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.percentage:.1f} %<br>value: {point.y}'
                                    }
                                }
                            },
                            series: [{
                                name: 'Activity',
                                colorByPoint: true,
                                data: datapie
                            }]
                        });

                        var hasilByKl = result.roByKl;
                        var dataKl = [];
                        var dataKurang = [];
                        var dataSedang = [];
                        var dataBaik = [];
                        for(var i = 0, len = hasilByKl.length; i < len; i++){
                        	dataKl.push(hasilByKl[i][1]);
                        	dataKurang.push(hasilByKl[i][2]);
                        	dataSedang.push(hasilByKl[i][3]);
                        	dataBaik.push(hasilByKl[i][4]);
                        }

                        Highcharts.chart('stacked-capaian', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Jumlah RO Menurut Capaian Kinerja Fisik Per K/L'
                            },
                            xAxis: {
                                categories: dataKl
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Jumlah RO Menurut Capaian Kinerja Fisik Per K/L'
                                },
                                stackLabels: {
                                    enabled: true,
                                    style: {
                                        fontWeight: 'bold',
                                        color: ( // theme
                                            Highcharts.defaultOptions.title.style &&
                                            Highcharts.defaultOptions.title.style.color
                                        ) || 'gray'
                                    }
                                }
                            },
                            legend: {
                                align: 'right',
                                x: -30,
                                verticalAlign: 'top',
                                y: 25,
                                floating: true,
                                backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                                borderColor: '#CCC',
                                borderWidth: 1,
                                shadow: false
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal',
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{
                                name: 'Realisasi Fisik RO > 95%',
                                data: dataBaik
                            }, {
                                name: 'Realisasi Fisik RO 75-95%',
                                data: dataSedang
                            }, {
                                name: 'Realisasi Fisik RO < 75%',
                                data: dataKurang
                            }]
                        });
                    }
            	});
            }
        }

        
    </script>
</body>
</html>
