<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: header">
    <title th:text="Define RAN/RAD/SDGs Indicator"></title>
</head>
<body>
    <div th:include="admin/layout :: menu"></div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Define RAN/RAD/SDGs Indicator</a></div>
        </div>
        <div class="container-fluid">
			<div class="row-fluid">
				<label class="tip-bottom"><span class="lang_eng" style="display:none">Goals</span><span class="lang_indo">Sasaran</span> <i class="icon-angle-right"></i> Target <i class="icon-angle-right"></i> <span class="lang_eng" style="display:none">SDGs Indicator</span><span class="lang_indo">Indikator SDG</span></label>
			</div>
			<div class="row-fluid">
				<div class="widget-box">
					<div class="widget-content">
							<span class="lang_eng" style="display:none">Goals : </span><span class="lang_indo">Sasaran : </span><a th:href="@{/admin/ran_rad/sdg/goals}" th:text="${goals.id_goals+' - '+goals.nm_goals}"></a>
							<br/>
							Target : <a th:href="@{'/admin/ran_rad/sdg/goals/'+${goals.id}+'/target'}" th:text="${target.id_target+' - '+target.nm_target}"></a>
							<br/>
							<span class="lang_eng" style="display:none">Indicator : </span><span class="lang_indo">Indikator : </span><a th:href="@{'/admin/ran_rad/sdg/goals/'+${goals.id}+'/target/'+${target.id}+'/indicator'}" th:text="${indicator.id_indicator+' - '+indicator.nm_indicator}"></a>
					</div>
				</div>
			</div>
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5>
                        	<span class="lang_eng" style="display:none">Problem Identify</span><span class="lang_indo">Identifikasi Masalah</span>
                        </h5>
                    </div>
                    <div class="widget-content">
                    	<div class="row-fluid">
                    		<div class="span6">
                    			<div class="input-append">
								  <input placeholder="Search..." class="span12" id="text-cari" type="text"/>
								  <span class="add-on"><i class="icon-search"></i></span>
								</div>
                    		</div>
                    		<div class="span6" align="right">
                    			<button data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="icon-plus"></i>
                    				<span class="lang_eng" style="display:none">Add Problem Identify</span><span class="lang_indo">Tambah Identifikasi Masalah</span>
                    			</button>
                                        <a class="btn btn-success appl" id="apply_btn" data-periode="1" style=" margin-left: 10px;display: none">
                                            <span class="lang_indo">Terapkan</span>
                                            <span class="lang_eng">Apply</span>
                                        </a>
                                        <a class="btn btn-warning unappl" id="unapply_btn" data-periode="1" style="display: none">
                                            <span class="lang_indo">Batal Terapkan</span>
                                            <span class="lang_eng">UnApply</span>
                                        </a>
                    		</div>
                    	</div>
                    	<br/>
                        <div class="row-fluid">
                            <div class="span12">
                            	<div class="table-responsive">
	                                <table class="table table-bordered table-striped" id="tabel-indicator">
	                                    <thead>
	                                        <tr>
	                                            <th style="text-align:center;font-size:80%;">
	                                            	<span class="lang_eng" style="display:none">No</span>
													<span class="lang_indo">No</span>
												</th>
	                                            <th style="text-align:center;font-size:80%;">
	                                            	<span class="lang_eng" style="display:none">Category</span>
	                                            	<span class="lang_indo">Kategori</span>
	                                            </th>
	                                            <th style="text-align:center;font-size:80%;">
	                                            	<span class="lang_eng" style="display:none">Problem Identify</span>
	                                            	<span class="lang_indo">Identifikasi Masalah</span>
	                                            </th>
                                                    <th style="text-align:center;font-size:80%;">
	                                            	<span class="lang_eng" style="display:none">Follow Up</span>
	                                            	<span class="lang_indo">Solusi</span>
	                                            </th>
	                                            <th style="text-align:center;font-size:80%;">
	                                            	<span class="lang_eng" style="display:none">Action</span>
	                                            	<span class="lang_indo">Aksi</span>
	                                            </th>
	                                        </tr>
	                                    </thead>
	                                    <tbody id="tbody-indicator">
	                                    </tbody>
	                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal"data-backdrop="static" class="modal hide fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 class="lang_eng" style="display:none">Add Disaggregation</h3>
			    <h3 class="lang_indo">Tambah Disaggregation</h3>
		  	</div>
			<div class="modal-body">
				<form>
                                    <input type="hidden" id="id" name="id"/>
                                    <div class="control-group">
				    <label class="lang_eng" style="display:none">Ref Category</label>
				    <label class="lang_indo">Ref Category</label>
                                    <select id="ref_category" name="ref_category" class="form-control">
                                        <option value="0" >-- Pilih Category --</option>
                                        <option th:each="f:${refcategory.content}" th:value="${f.id_cat}" th:text="${f.nm_cat}"></option>
                                    </select>
                                    </div>
                                    <div class="control-group">
                                        <label th:class="control-label" for="detail">Problem</label>
                                        <div class="controls">
                                            <textarea class="input-block-level" id="problem" name="problem" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label th:class="control-label" for="detail">Follow Up</label>
                                        <div class="controls">
                                            <textarea class="input-block-level" id="follow_up" name="follow_up" rows="3"></textarea>
                                            <input type="hidden" readonly="true" th:value="${indicator.nm_indicator}" class="input-xlarge" />
                                            <input type="hidden" id="id_goals" name="id_goals" th:value="${target.id_goals}"/>
                                            <input type="hidden" id="id_target" name="id_target" th:value="${target.id}"/>
                                            <input type="hidden" id="id_indicator" name="id_indicator" th:value="${indicator.id}"/>
                                        </div>
                                    </div>
				</form>
			</div>
			<div class="modal-footer">
		    	<button class="btn" data-dismiss="modal" aria-hidden="true">
		    		<span class="lang_eng" style="display:none">Close</span>
		    		<span class="lang_indo">Tutup</span>
		    	</button>
		    	<button class="btn btn-primary" id="submit">
		    		<span class="lang_eng" style="display:none">Submit</span>
		    		<span class="lang_indo">Simpan</span>
		    	</button>
		  	</div>
		</div>
    </div>
    <div th:include="admin/layout :: footer"></div>
</body>
<script th:inline="javascript" >
	// <![CDATA[
		//$(document).ready(function (e) {
               
             
		var token = $("meta[name='_csrf']").attr("content");
	        var header = $("meta[name='_csrf_header']").attr("content");
		var id_goals = $('#id_goals').val();
		var id_target = $('#id_target').val();
		var id_indicator = $('#id_indicator').val();
                var count_data_app = [[${count_data_app}]];
			//Bahasa
	        var titleDel = "Anda Yakin";
	        var messDel = "Menghapus Data?";
	        var buttDel = 'Ya, Hapus data ini!';
	        var titleOk	= "Hapus";
	        var messOk = "Data berhasil dihapus";
	        var messNOk = "Data tidak dapat dihapus";
	        var required = "Harus diisi";
	        function bhs(cek){
				if(cek){
					$(".lang_indo").show();
	        		$(".lang_eng").hide();
	        		titleDel = "Anda Yakin";
	        		messDel = "Menghapus Data?";
	        		buttDel = 'Ya, Hapus data ini!';
	        		titleOk	= "Hapus";
	    	        messOk = "Data berhasil dihapus";
	    	        messNOk = "Data tidak dapat dihapus";
	    	        required = "Harus diisi";
	        	}else{	    	        
	    	        $(".lang_indo").hide();
	        		$(".lang_eng").show();
	        		titleDel = "Are you sure";
	        		messDel = "Delete this data?";
	        		buttDel = 'Yes, Delete this data!';
	        		titleOk	= "Delete";
	    	        messOk = "Delete successful";
	    	        messNOk = "Can't delete data";
	    	        required = "Required";
	        	}
	        }
	        if(lang){
	        	bhs(lang=="0");
	        }else{
	        	bhs($('#fs').is(':checked'));
	        }
	        $('#fs').on('change', function(e){
	        	bhs($(this).is(':checked'));
	        	table.ajax.url(urls+'list-sdgDisaggre/'+id_indicator).load();
	        });
			var table = $('#tabel-indicator').DataTable({
				responsive: true,
				sDom: 'lrtip',
				"bLengthChange": false,
				"cache": false,
				"autoWidth": true,
				"responsive":true,
				"ajax": {
					"url": urls+'list-entry-problem/'+id_goals+'/'+id_target+'/'+id_indicator,
					dataSrc: 'content',
				},
				"searching": true,
				"columns": [
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+(display.row+1)+"</div>";
						}},
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.nm_cat+"</div>";
						}},

					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.problem+"</div>";
						}},
                                        {"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.follow_up+"</div>";
						}},
					{"data": function (row, data, index, display) {
                                                        if(row.approval!=1){
                                                           return "<div style='text-align:center;'>"+
                                                            '<button data-id="'+row.id+'" type="button" title="detail" class="btn btn-success btn-mini detail"><i class="icon-edit"></i></button>'+
                                                            '<button data-id="'+row.id+'" type="button" title="update" class="btn btn-warning btn-mini update"><i class="icon-pencil"></i></button>'+
                                                            '<button data-id="'+row.id+'" type="button" title="delete" class="btn btn-danger btn-mini delete"><i class="icon-trash"></i></button></div>'; 
                                                        }else{
                                                            return '';
                                                        }
							
						
                                                }
                                        }
				],
				"columnDefs": [
				],
				select: true
			});	
                        
                        
                       
			
			$('#text-cari').on( 'keyup', function () {
				var val=$(this).val();
				table.search(val).draw();
                              
			});
			
			function clearForm(){
				$('#id').val("").removeAttr("readonly");
				$('#ref_category').val("").removeAttr("readonly");
				$('#problem').val("").removeAttr("readonly");
				$('#follow_up').val("").removeAttr("readonly");
                                $('#submit').removeAttr("Disabled");
				$('.control-group').removeClass('error');
				$('.help-block').text("");
			}
			
			$('#myModal').on('hidden.bs.modal',function(){
				clearForm();
			});
			
                        $('#apply_btn').on('click',function(){
                            swal({
                                title: "Are You Sure",
                                text: "",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes'
                            }).then(function () {
                                 var id_goals        = $('#id_goals').val();
				 var id_target       = $('#id_target').val();
				 var id_indicator    = $('#id_indicator').val();
                                 var data = JSON.stringify({
                                                'id_goals'      :id_goals,
                                                'id_target'     :id_target,
                                                'id_indicator'  :id_indicator
                                            });
                                    
                                    $.ajax({
						type: "POST",
                                                url: urls+'problem-identification/aply',
                                                beforeSend : function(xhr){
                                                    xhr.setRequestHeader(header,token);
                                                },
                                                headers:{'Accept':'application/json','Content-Type':'application/json'},
                                                                    data: data,
                                                success: function (result) {
                                                    table.ajax.url(urls+'list-entry-problem/'+id_goals+'/'+id_target+'/'+id_indicator).load(function(e){
                                                        if(e.count_data>0){
                                                             $('#apply_btn').hide();
                                                             $('#unapply_btn').show();
                                                        }
                                                    });
                                                },
                                            });
                             }, function (dismiss) {
                                if (dismiss === 'cancel') {
                                }
                            });
                               
                        });
                        $('#unapply_btn').on('click',function(){
                            swal({
                                title: "Are You Sure",
                                text: "",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes'
                            }).then(function () {
                                 var id_goals        = $('#id_goals').val();
				var id_target       = $('#id_target').val();
				var id_indicator    = $('#id_indicator').val();
                                    var data = JSON.stringify({
                                                'id_goals'      :id_goals,
                                                'id_target'     :id_target,
                                                'id_indicator'  :id_indicator
                                            });
                                    
                                    $.ajax({
						type: "POST",
                                                url: urls+'problem-identification/un-aply',
                                                beforeSend : function(xhr){
                                                    xhr.setRequestHeader(header,token);
                                                },
                                                headers:{'Accept':'application/json','Content-Type':'application/json'},
                                                                    data: data,
                                                success: function (result) {
                                                    table.ajax.url(urls+'list-entry-problem/'+id_goals+'/'+id_target+'/'+id_indicator).load(function(e){
                                                        if(e.count_data>0){
                                                             $('#apply_btn').show();
                                                             $('#unapply_btn').hide();
                                                        }
                                                    });
                                                },
                                            });
                             }, function (dismiss) {
                                if (dismiss === 'cancel') {
                                }
                            });
                               
                        });
			$('#submit').on('click', function(){
                                var id              = $('#id').val();
				var id_cat          = $('#ref_category').val();
				var id_goals        = $('#id_goals').val();
				var id_target       = $('#id_target').val();
				var id_indicator    = $('#id_indicator').val();
                                var problem         = $('#problem').val();
                                var follow_up       = $('#follow_up').val();
				$('.control-group').removeClass('error');
				$('.help-block').text("");
				
                                var data = JSON.stringify({
                                                'id'            :id,
                                                'id_cat'        :id_cat,
                                                'id_goals'      :id_goals,
                                                'id_target'     :id_target,
                                                'id_indicator'  :id_indicator,
                                                'problem'       :problem,
                                                'follow_up'     :follow_up,
                                            });
					$.ajax({
						type: "POST",
                                                url: urls+'problem-identification/save',
                                                beforeSend : function(xhr){
                                                    xhr.setRequestHeader(header,token);
                                                },
                                                headers:{'Accept':'application/json','Content-Type':'application/json'},
                                                                    data: data,
                                                success: function (result) {
                                                    table.ajax.url(urls+'list-entry-problem/'+id_goals+'/'+id_target+'/'+id_indicator).load(function(e){
                                                        if(e.count_data>0){
                                                             $('#apply_btn').show();
                                                        }
                                                    });
                                                    $('#myModal').modal('hide');
                                                },
                                            });
                            });
			
			$('#tbody-indicator').on('click', '.update', function(){
				var id = $(this).attr('data-id');
				$.ajax({
					type: "GET",
                                    url: urls+'problem/get-problem/'+id,
                                    success: function (result) {
                                        var val = result.content;
                                        $('#id').val(val[0].id);
                                        $('#ref_category').val(val[0].id_cat)
                                        $('#problem').val(val[0].problem)
                                        $('#follow_up').val(val[0].follow_up)
                                        $('#myModal').modal('show');
                                    },
                                })
             }).on('click', '.detail', function(){
				var id = $(this).attr('data-id');
				$.ajax({
					type: "GET",
                                    url: urls+'problem/get-problem/'+id,
                                    success: function (result) {
                                        var val = result.content;
                                        $('#id').val(val[0].id);
                                        $('#ref_category').val(val[0].id_cat).attr("readonly",true);
                                        $('#problem').val(val[0].problem).attr("readonly",true);
                                        $('#follow_up').val(val[0].follow_up).attr("readonly",true);
                                        $('#submit').prop('disabled',true);
                                        $('#myModal').modal('show');
                                    },
                                })
             }).on('click', '.delete', function(){
				var id = $(this).attr('data-id');
				swal({
                    title: titleDel,
                    text: messDel,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttDel
                }).then(function () {
                	$.ajax({
    					type: "DELETE",
                        url: urls+'problem-identification/delete/'+id,
                        beforeSend : function(xhr){
                        	xhr.setRequestHeader(header,token);
                        },
                        success: function (result) {
                        	swal(titleOk,messOk,'success');
                        	table.ajax.url(urls+'list-entry-problem/'+id_goals+'/'+id_target+'/'+id_indicator).load(function(e){
                                                        if(e.count_data==0){
                                                             $('#apply_btn').hide();
                                                        }
                                                    });
                        },
                        error:function (result) {
                        	swal(titleOk,messNOk,'error');
                        },
                    })
                }, function (dismiss) {
                    if (dismiss === 'cancel') {
                    }
                })
             });
            
            
             $(window).load(function(){ 
                var count_data  = table.rows().data().length;
                if(count_data>0&&count_data_app>0){
                   $('#apply_btn').hide(); 
                }else if(count_data>0){
                   $('#apply_btn').show(); 
                }
                console.log(count_data_app);
                if(count_data_app>0){
                    $('#unapply_btn').show(); 
                }
             });
           
		//});
		// ]]>
</script>
</html>